# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
.env
venv/
ENV/
env/

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# OS-specific
.DS_Store
Thumbs.db
